@page "/"

<div style="display:flex; flex-direction:column; padding:50px;">
    <div style="width:150px; margin-bottom:30px;">
        <AddRecipeButton />
    </div>
    <div>
        <RecipesTable />
    </div>
</div>
